* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar,
#schedule,
#footer,
.btn {
  background-color: rgb(100, 167, 160);
}

.navbar a {
  color: white;
}

#header {
  height: 70vh;
  background-color: aqua;
  background-image: linear-gradient(
      to right,
      rgba(204, 204, 42, 0.7),
      rgba(175, 175, 41, 0.7)
    ),
    url(../img/rocky-field.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.poster {
  height: 60vh;
}

#reviews,
#booking {
  background-color: rgba(204, 204, 42);
  /* border-top: 5px solid rgb(100, 167, 160);
  border-bottom: 5px solid rgb(100, 167, 160); */
}

.actor-card img {
  margin-top: -50px;
}

.actor-card {
  background-color: rgb(100, 167, 160);
  color: #fff;
}

.card img {
  max-width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
}

.bookFiller {
  height: max-content;
  background-color: aqua;
}

@media only screen and (max-width: 992px) {
  .top-card {
    margin-bottom: 40px;
  }
  .header-row {
    text-align: center;
  }
  .booking-row {
    margin: auto;
  }
}

@media only screen and (max-width: 562px) {
  .middle-card {
    margin-bottom: 40px;
  }
}
