* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  /* background-color: rgb(45, 170, 141); */
  background-color: rgb(100, 167, 160);
}
.navbar a {
  color: white;
}

button .navbar-toggler-icon {
  color: white;
}

#header {
  height: 600px;
  background-color: aqua;
  background-image: linear-gradient(
      to right,
      rgba(204, 204, 42, 0.7),
      rgba(175, 175, 41, 0.7)
    ),
    url(../img/rocky-field.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.poster {
  height: 500px;
}
